<div class="overview">
  <div class="title">Superhero Contacts</div>
  <div class="description">Please keep a meticulous record of the superhero friends contact list, we do not stipulate DC vs Marvel, in fact we accept all breeds of hero. From TMNT to DBZ</div>
  <div class="buttons">
    <div class="button" (click)="goToPage(1)">VIEW HERO CONTACTS</div>
    <div class="button" (click)="goToPage(2)">ADD HERO CONTACT</div>
  </div>
  <div>
    <div class="title">Heroic Analytics</div>
    <fusioncharts
      [id]="chartData.id"
      [width]="chartData.width"
      [height]="chartData.height"
      [type]="chartData.type"
      [dataFormat]="chartData.dataFormat"
      [dataSource]="chartData.dataSource"
    ></fusioncharts>
  </div>
</div>
