// shared variables, color scheme provided by coolors.co
$primary: #75DDDD;
$primary-light: #84C7D0;
$secondary: #9368B7;
$secondary-light: #9297C4;
$tertiary: #AA3E98;
// some box shadows
$box-shadow-level-1: 0 1px 3px rgba(10, 44, 76, 0.12), 0 1px 2px rgba(10, 44, 76, 0.12);
$box-shadow-level-2: 0 3px 6px rgba(10, 44, 76, 0.12), 0 3px 6px rgba(10, 44, 76, 0.12);
