## server
/server/node_modules
/server/dist
/server/npm-debug.log
/server/hero-contacts-firebase-adminsdk-nhml8-f623286974.json
/server/firebase.api.ts

## client
/client/dist
/client/tmp
/client/node_modules
/client/e2e
/client/npm-debug.log
