<div class="hero-form">
  <div class="form-container">
    <hero-input
      placeholder="First Name"
      [init]="form.name.first"
      [dirty]="dirtyForm"
      (value)="form.name.first=$event"
    ></hero-input>
    <hero-input
      placeholder="Last Name"
      [init]="form.name.last"
      [dirty]="dirtyForm"
      (value)="form.name.last=$event"
    ></hero-input>
    <hero-input
      placeholder="Email"
      [init]="form.email"
      [dirty]="dirtyForm"
      [email]="true"
      (value)="form.email=$event"
    ></hero-input>
    <hero-input
      placeholder="Age"
      [init]="form.age"
      [dirty]="dirtyForm"
      [numberType]="true"
      [minlength]="1"
      [maxlength]="3"
      (value)="form.age=$event"
    ></hero-input>
    <hero-input
      placeholder="Favorite Food"
      [init]="form.faveFood"
      [dirty]="dirtyForm"
      description="Any food is acceptible but there is only 1 correct answer"
      (value)="form.faveFood=$event"
    ></hero-input>
  </div>
  <div class="form-container drop-area">
    <div *ngIf="!worthy">
      <div>Are you worthy? Touch Mjolnir to prove you are worthy of submitting a hero!</div>
      <i *ngIf="dirtyForm" class="material-icons invalid">error</i>
    </div>
    <!-- Prove You Are Worthy / Human Check for DESKTOP-->
    <div *ngIf="!worthy && !mobile" class="drop-container">
      <div class="icons">
        <img id="Mjolnir" src="/assets/thor.png" alt="Mjolnir Thor's Hammer" draggable="true" (dragstart)="drag($event)" (dragend)="dragEnd($event)"/>
        <img id="Iron Man" src="/assets/ironman.png" alt="Iron Man" draggable="true" (dragstart)="drag($event)" (dragend)="dragEnd($event)"/>
        <img id="Captain America" src="/assets/captain.png" alt="Captain America" draggable="true" (dragstart)="drag($event)" (dragend)="dragEnd($event)"/>
        <img id="The Hulk" src="/assets/hulk.png" alt="The Hulk" draggable="true" (dragstart)="drag($event)" (dragend)="dragEnd($event)"/>
      </div>
      <div class="dropzone" [class.hovering]="hovering"
        (dragover)="overDrop($event)"
        (dragleave)="leaveDrop($event)"
        (drop)="droppedIcon($event)"
        [innerHtml]="dragResults"
      ></div>
    </div>
    <!-- Prove You Are Worthy / Human Check for MOBILE/TABLET-->
    <div *ngIf="!worthy && mobile" class="drop-container">
      <div class="icons">
        <img id="Mjolnir" src="/assets/thor.png" alt="Mjolnir Thor's Hammer" (click)="checkIfWorth('Mjolnir')"/>
        <img id="Iron Man" src="/assets/ironman.png" alt="Iron Man" (click)="checkIfWorth('Iron Man')"/>
        <img id="Captain America" src="/assets/captain.png" alt="Captain America" (click)="checkIfWorth('Captain America')"/>
        <img id="The Hulk" src="/assets/hulk.png" alt="The Hulk" (click)="checkIfWorth('The Hulk')"/>
      </div>
      <div class="dropzone" [class.hovering]="hovering" [innerHtml]="dragResults"></div>
    </div>
    <div *ngIf="worthy">
      <div>Congratulations, you are indeed worthy!</div>
      <i class="material-icons">check</i>
    </div>
  </div>
  <div *ngIf="error" class="form-container error">
    <div [innerHtml]="error"></div>
  </div>
  <div class="button" (click)="submit()">SUBMIT HERO</div>
</div>
